@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: Inter, system-ui, sans-serif;
	}
}

@layer base {
	:root {
		--sbackground: 0 0% 100%;
		--s-foreground: 222.2 84% 4.9%;
		--scard: 0 0% 98%;
		--scard-foreground: 222.2 84% 4.9%;
		--spopover: 0 0% 100%;
		--spopover-foreground: 222.2 84% 4.9%;
		--sprimary: 221.2 83.2% 53.3%;
		--sprimary-foreground: 210 40% 98%;
		--ssecondary: 210 40% 96.1%;
		--ssecondary-foreground: 222.2 47.4% 11.2%;
		--smuted: 210 40% 96.1%;
		--smuted-foreground: 215.4 16.3% 46.9%;
		--saccent: 210 40% 96.1%;
		--saccent-foreground: 222.2 47.4% 11.2%;
		--sdestructive: 0 84.2% 60.2%;
		--sdestructive-foreground: 210 40% 98%;
		--sborder: 214.3 31.8% 91.4%;
		--sinput: 214.3 31.8% 91.4%;
		--sring: 221.2 83.2% 53.3%;
		--sradius: 0.75rem;
	}

	.dark {
		--sbackground: 222.2 84% 4.9%;
		--sforeground: 210 40% 98%;
		--scard: 222.2 84% 4.9%;
		--scard-foreground: 210 40% 98%;
		--spopover: 222.2 84% 4.9%;
		--spopover-foreground: 210 40% 98%;
		--sprimary: 217.2 91.2% 59.8%;
		--sprimary-foreground: 222.2 47.4% 11.2%;
		--ssecondary: 217.2 32.6% 17.5%;
		--ssecondary-foreground: 210 40% 98%;
		--smuted: 217.2 32.6% 17.5%;
		--smuted-foreground: 215 20.2% 65.1%;
		--saccent: 217.2 32.6% 17.5%;
		--saccent-foreground: 210 40% 98%;
		--sdestructive: 0 62.8% 30.6%;
		--sdestructive-foreground: 210 40% 98%;
		--sborder: 217.2 32.6% 17.5%;
		--sinput: 217.2 32.6% 17.5%;
		--sring: 224.3 76.3% 48%;
	}
}

@layer base {
	body {
		@apply bg-sbackground text-sforeground;
		font-feature-settings:
			'rlig' 1,
			'calt' 1;
	}
}
