@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
}

@layer base {
  :root {
    --background: 300 20% 99%;
    --foreground: 260 25% 11%;

    --muted: 300 7.7% 97.5%;
    --muted-foreground: 252 4% 44.8%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 294 5.5% 95.3%;
    --card-foreground: 253 3.5% 53.5%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 6%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 246 6% 9%;
    --foreground: 256 6% 93.2%;

    --muted: 240 5.1% 11.6%;
    --muted-foreground: 253 4% 63.7%;

    --popover: 246 6% 9%;
    --popover-foreground: 256 6% 93.2%;

    --card: 240 5.1% 11.6%;
    --card-foreground: 256 6% 93.2%;

    --border: 244 4.9% 25.4%;
    --input: 216 34% 17%;

    --primary: 252 56% 57.5%;
    --primary-foreground: 252 87% 96.4%;

    --secondary: 242 4.9% 16.5%;
    --secondary-foreground: 256 6% 93.2%;

    --accent: 253 42.2% 26.2%;
    --accent-foreground: 252 87% 96.4%;

    --destructive: 358 75% 59%;
    --destructive-foreground: 210 40% 98%;
    --success: 131 41.3% 46.5%;
    --success-foreground: 252 87% 96.4%;

    --void: 53 92% 50%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
